ENV=production
API_BASE_URL=https://raw.githubusercontent.com/shimmercode/jahanefootball-app/v1.0.0/backend/public/v1
FOOTBALL_API_BASE_URL=https://www.thesportsdb.com/api/v1/json/3
WORDPRESS_BASE_URL=
